fastapi
uvicorn
streamlit
yfinance
requests
beautifulsoup4
openai-whisper
coqui-tts
faiss-cpu
langchain
crewai
llama-index
pandas
scikit-learn
python-dotenv
httpx
pytest
faiss==1.9.0
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp312-cp312-win_amd64.whl#sha256=becc06674317799ad0165a939a7613809d0bee9bd328a1e4308c57c39cacf08c
packaging @ file:///C:/b/abs_3by6s2fa66/croot/packaging_1734472138782/work
setuptools==78.1.1
wheel==0.45.1
